/* Site Styling */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --primary-color: #333;
    --secondary-color: #db3e3e
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--primary-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.section-heading {
    font-size: 25px;
    max-width: 500px;
    margin: auto;
    font-weight: 300;
}

/*navbar*/
.navbar {
    background-color: white;
    color: var(--primary-color);
    height: 70px;
}

    .navbar ul {
        display: flex;
    }

    .navbar i {
        color: var(--secondary-color);
    }

    .navbar a {
        padding: 10px;
        margin: 0 5px;
    }

    .navbar a:hover{
        border-bottom: 2px var(--primary-color) solid;
    }

    .navbar .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

/*greeting*/
.greeting {
    height: 400px;
    background-color: white;
    color: var(--primary-color);
    position: relative;
}

.greeting .container {
    margin-top: 20px;
}

.greeting .grid {
    grid-template-columns: 45% 55%;
    gap: 30px;
    overflow: visible;
}

.greeting img {
    padding-top: 10px;
    padding-bottom: 20px;
}

.greeting h1 {
    font-size: 40px;
}

.greeting p{
    margin: 20px 0;
    font-size: 20px;
}

/*skills-tools*/
.skills-tools {
    padding-top: 100px;
    padding-bottom: 50px;
}

.skills-tools .grid h3 {
    font-size: 20px;
}

.skills-tools .grid li {
    font-size: 15px;
}

.skills-tools .grid i {
    color: var(--secondary-color);
}

/*Code Block*/

.code-block {
    padding: 50px 0;
}

.code-block .grid {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 3rem auto;
}

.code-block *:nth-child(1){
    align-self: end;
}
.code-block *:nth-child(2){
    align-self: start;
}

.code-block *:nth-child(3){
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
}


/*contact*/

.contact {
    padding: 50px 0px;
}

.contact .container {
    max-width: 700px;
}

.contact .grid {
    grid-template-columns: 1fr;
    align-items: center;
    margin: 3rem auto;
}

.contact-form{
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: auto;
}

    .contact > h2 {
        padding-left: 30xp;
    }

    .contact-form .form-control {
        margin: 30px;
    }

    .contact-form input[type='text'],
    .contact-form input[type='email'] {
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 16px;
    }

    .contact-form input[type='submit'] {
        width: 200px;
    }

    .contact-form input:focus{
        outline: none;
    }

    .contact-form textarea {
        border-width: 1px;
        border-style: solid;
        border-color: var(--primary-color);
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .contact-form textarea:focus{
        outline: none;
    }

/*animation*/
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }
/* Page Specific Styling */