/* Bootstrap Overrides */

/* Site Styling */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/*navbar*/
.navbar {
    background-color: white;
    color: #333;
    height: 70px;
}

    .navbar ul {
        display: flex;
    }

    .navbar i {
        color: #db3e3e;
    }

    .navbar a {
        padding: 10px;
        margin: 0 5px;
    }

    .navbar a:hover{
        border-bottom: 2px #333 solid;
    }

    .navbar .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

/*greeting*/
.greeting {
    height: 600px;
    background-color: white;
    color: #333;
    position: relative;
}

.greeting .grid {
    grid-template-columns: 45% 55%;
    gap: 30px;
    overflow: hidden;
}

.greeting h1 {
    font-size: 40px;
}

.greeting p{
    margin: 20px 0;
}

/*contact*/
.contact .grid {
    grid-template-columns: 1fr;
    align-items: center;
}

.contact-form{
    height: 100%;
    width: 100%;
    padding: 40px;
    z-index: 100;
}

    .contact > h2 {
        padding-left: 30xp;
    }

    .contact-form .form-control {
        margin: 30px;
    }

    .contact-form input[type='text'],
    .contact-form input[type='email'] {
        border: 1px solid #333;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        padding: 3px;
        font-size: 16px;
    }

    .contact-form input[type='submit'] {
        
        width: 200px;
    }

    .contact-form input:focus{
        outline: none;
    }

    .contact-form textarea {
        border-width: 1px;
        border-style: solid;
        border-color: #333;
        border-radius: 10px;
        width: 100%;
        padding: 3px;
        font-size: 16px;
    }

    .contact-form textarea:focus{
        outline: none;
    }

.hello-text {
    text-align: center;
}

.hello-button {
    text-align:center;
}

/*utilities*/
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 40px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: #db3e3e;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #db3e3e solid;
    color: #db3e3e;
}

.btn-outline:hover {
    background-color: #db3e3e;
    color: white;
    transform: scale(0.9);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*animation*/
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }
/* Page Specific Styling */